[submodule "duktape"]
	path = duktape
	url = git@github.com:svaarala/duktape.git
[submodule "libuv"]
	path = libuv
	url = git@github.com:libuv/libuv.git
[submodule "brython"]
	path = brython
	url = git@github.com:brython-dev/brython.git
