[submodule "duktape"]
	path = duktape
	url = git@github.com:svaarala/duktape.git
[submodule "libuv"]
	path = libuv
	url = git@github.com:libuv/libuv.git
[submodule "batavia"]
	path = batavia
	url = git@github.com:beeware/batavia.git
