[submodule "duktape"]
	path = duktape
	url = git@github.com:svaarala/duktape.git
[submodule "libuv"]
	path = libuv
	url = git@github.com:libuv/libuv.git
[submodule "micropython"]
	path = micropython
	url = git@github.com:micropython/micropython.git
